In [16]:
import pandas as pd

In [17]:
Dati = pd.read_csv("DATALOG_csv.txt")

In [18]:
Dati = Dati.rename(columns={'18/11/2018 12:5:39': 'DataOra', 'S1':'', '33.38':'S1', 'S2':'', '38.94':'S2', 'S3':'', '10.25':'S3', 'S4':'', '35.50':'S4'  })

In [7]:
TMS1 = Dati.S1
NT1 = len (Dati.S1)

In [8]:
TMS2 = Dati.S2
NT2 = len (Dati.S2)

In [9]:
TMS3 = Dati.S3
NT3 = len (Dati.S3)

In [10]:
TMS4 = Dati.S4
NT3 = len (Dati.S4)

In [ ]:
MS1 =

In [13]:
Dati.S1.mean()

34.41000669792349

In [30]:
DataOra = Dati.DataOra

In [36]:
S1B1 = DataOra[0:10]

In [37]:
S1B1

0    18/11/2018 12:20:51
1     18/11/2018 12:36:3
2    18/11/2018 12:51:15
3     18/11/2018 13:6:28
4    18/11/2018 13:21:40
5    18/11/2018 13:36:52
6     18/11/2018 13:52:4
7     18/11/2018 14:7:17
8    18/11/2018 14:22:30
9    18/11/2018 14:37:42
Name: DataOra, dtype: object

In [44]:
Data1 = DataOra.

SyntaxError: invalid syntax (<ipython-input-44-12681ce2d725>, line 1)